.contain {
    height: 100vh;
    margin: 0;
    border: 1px solid rebeccapurple;
    position: relative;
}

.img-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number {
    border: 1px solid red;
    background-color: black;
    border-radius: 50%;
    line-height: 2px;
    width: 30px;
    top: 69px;
    right: 76px;
    position: absolute;
    color: aliceblue;
    text-align: center;
}