.heading{
    position:relative;
    top: 20px;
    left: 20px;
}
.btn{
    font-size: 30px;
    margin: 10px 20px;
    background-color: aqua;
    display: block;
}
.btn:focus+p{
    display: block;
}
p{
display: none;
}

img{
    width: 100px;
    height: 100px;
    opacity: 0.65;
}
img:hover{
    opacity: 1;
}